<link rel="stylesheet" href="/styles/nav.css">
<div class="container">
    <div class="header">
        <h1 class="logo">Online shop</h1>
        <div class="nav">
            <a class="nav-item" href="/home">Home</a>
            <a class="nav-item" href="/profile">Profile</a>
            <a class="nav-item" href="/orders">Orders</a>
            <a class="nav-item" href="/products">Products</a>
        </div>
        <div class="logout-container">
            <a class="logout-item" href="/logout">Logout</a>
        </div>
    </div>
</div>