<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <h1 class="home-title">Home</h1>

        <div class="blocks-content">
            <div class="create-order-block">
                <a class="order-button" href="/products">Make an order</a>
            </div>
            <div class="profile-block">
                <a class="profile-button" href="/profile">Open profile</a>
            </div>
        </div>
    </div>
</body>
</html>